.cover-bg{
  background-image: url("../../assets/boardsunset-blurred.jpg");
  height: 100vh; 
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 80% 1fr;
  grid-template-rows:repeat(3, 1fr);
  /* cover the entire element */
  background-size: cover;
}
@media only screen and (max-width: 550px) {
}


